<div class="container">
  <img src="/public/assets/burger_sandwich_PNG4.png" class="pic" alt="Burger" />
    <div class="overlay">
    <br>
    <P>
    </div>
</div>

<h1 class="text">Let's Munch Some Burgers</h1>

<br>
<br>
<br>

<div class="row">
  <div class="col">
    <ul id="eatOne">
      {{#each burgers}}
      {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <button class="change-eat" value={{this.id}} data-eaten={{this.devoured}}>
          Devour It!
        </button>
      </li>
    {{/unless}}
    {{/each}}
    </ul>
  </div>


  <div class="col">
    <ul id="eatTwo">
      {{#each burgers}}
      {{#if devoured}}
      <li>
        {{this.burger_name}}
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="make" align="center">
  <h2 class="add">Add A Burger to Munch On!</h2>

  <form class="create-form">

  <div class="form-group">
    <label for="burg">New burger:</label>
    <input type="text" id="burg" name="name">
  </div>
  <br>
  <div class="button">
    <button align="center" type="submit">Add a burger!</button>
  </div>

  </form>
<br>
<br>
<br>
</div>
